[submodule "DRAM_Row_Hammer_Test/dependencies/liteeth"]
	path = DRAM_Row_Hammer_Test/dependencies/liteeth
	url = https://github.com/enjoy-digital/liteeth
[submodule "DRAM_Row_Hammer_Test/dependencies/liteiclink"]
	path = DRAM_Row_Hammer_Test/dependencies/liteiclink
	url = https://github.com/enjoy-digital/liteiclink
[submodule "DRAM_Row_Hammer_Test/dependencies/litepcie"]
	path = DRAM_Row_Hammer_Test/dependencies/litepcie
	url = https://github.com/enjoy-digital/litepcie
[submodule "DRAM_Row_Hammer_Test/dependencies/litescope"]
	path = DRAM_Row_Hammer_Test/dependencies/litescope
	url = https://github.com/enjoy-digital/litescope
[submodule "DRAM_Row_Hammer_Test/dependencies/migen"]
	path = DRAM_Row_Hammer_Test/dependencies/migen
	url = https://github.com/m-labs/migen
[submodule "DRAM_Row_Hammer_Test/dependencies/litex-boards"]
	path = DRAM_Row_Hammer_Test/dependencies/litex-boards
	url = https://github.com/litex-hub/litex-boards
[submodule "DRAM_Row_Hammer_Test/dependencies/pythondata-cpu-vexriscv_smp"]
	path = DRAM_Row_Hammer_Test/dependencies/pythondata-cpu-vexriscv_smp
	url = https://github.com/litex-hub/pythondata-cpu-vexriscv_smp
[submodule "DRAM_Row_Hammer_Test/dependencies/pythondata-software-picolibc"]
	path = DRAM_Row_Hammer_Test/dependencies/pythondata-software-picolibc
	url = https://github.com/litex-hub/pythondata-software-picolibc
[submodule "DRAM_Row_Hammer_Test/dependencies/pythondata-cpu-vexriscv"]
	path = DRAM_Row_Hammer_Test/dependencies/pythondata-cpu-vexriscv
	url = https://github.com/litex-hub/pythondata-cpu-vexriscv.git
[submodule "DRAM_Row_Hammer_Test/dependencies/pythondata-cpu-serv"]
	path = DRAM_Row_Hammer_Test/dependencies/pythondata-cpu-serv
	url = https://github.com/litex-hub/pythondata-cpu-serv
[submodule "DRAM_Row_Hammer_Test/dependencies/pythondata-software-compiler_rt"]
	path = DRAM_Row_Hammer_Test/dependencies/pythondata-software-compiler_rt
	url = https://github.com/litex-hub/pythondata-software-compiler_rt
[submodule "DRAM_Row_Hammer_Test/dependencies/pythondata-cpu-lm32"]
	path = DRAM_Row_Hammer_Test/dependencies/pythondata-cpu-lm32
	url = https://github.com/litex-hub/pythondata-cpu-lm32
[submodule "DRAM_Row_Hammer_Test/dependencies/pythondata-cpu-mor1kx"]
	path = DRAM_Row_Hammer_Test/dependencies/pythondata-cpu-mor1kx
	url = https://github.com/litex-hub/pythondata-cpu-mor1kx
[submodule "DRAM_Row_Hammer_Test/dependencies/pythondata-cpu-naxriscv"]
	path = DRAM_Row_Hammer_Test/dependencies/pythondata-cpu-naxriscv
	url = https://github.com/litex-hub/pythondata-cpu-naxriscv
[submodule "DRAM_Row_Hammer_Test/dependencies/litejesd204b"]
	path = DRAM_Row_Hammer_Test/dependencies/litejesd204b
	url = https://github.com/enjoy-digital/litejesd204b
[submodule "DRAM_Row_Hammer_Test/dependencies/pythondata-misc-tapcfg"]
	path = DRAM_Row_Hammer_Test/dependencies/pythondata-misc-tapcfg
	url = https://github.com/litex-hub/pythondata-misc-tapcfg
[submodule "DRAM_Row_Hammer_Test/dependencies/pythondata-misc-usb_ohci"]
	path = DRAM_Row_Hammer_Test/dependencies/pythondata-misc-usb_ohci
	url = https://github.com/litex-hub/pythondata-misc-usb_ohci
[submodule "DRAM_Row_Hammer_Test/dependencies/litesata"]
	path = DRAM_Row_Hammer_Test/dependencies/litesata
	url = https://github.com/enjoy-digital/litesata
[submodule "DRAM_Row_Hammer_Test/dependencies/litesdcard"]
	path = DRAM_Row_Hammer_Test/dependencies/litesdcard
	url = https://github.com/enjoy-digital/litesdcard
[submodule "DRAM_Row_Hammer_Test/dependencies/litespi"]
	path = DRAM_Row_Hammer_Test/dependencies/litespi
	url = https://github.com/litex-hub/litespi
[submodule "DRAM_Row_Hammer_Test/dependencies/litex"]
	path = DRAM_Row_Hammer_Test/dependencies/litex
	url = https://github.com/tylerricks377/litex
	branch = rw_b
[submodule "DRAM_Row_Hammer_Test/dependencies/litedram"]
	path = DRAM_Row_Hammer_Test/dependencies/litedram
	url = https://github.com/tylerricks377/litedram
	branch = rw_b
