[submodule "DRAM_Row_Hammer_Test/dependencies/litedram"]
	path = DRAM_Row_Hammer_Test/dependencies/litedram
	url = https://github.com/tylerricks377/litedram
	branch = rw_b
[submodule "DRAM_Row_Hammer_Test/dependencies/litex"]
	path = DRAM_Row_Hammer_Test/dependencies/litex
	url = https://github.com/tylerricks377/litex
	branch = rw_b
[submodule "DRAM_Row_Hammer_Test/dependencies/liteeth"]
	path = DRAM_Row_Hammer_Test/dependencies/liteeth
	url = https://github.com/enjoy-digital/liteeth
[submodule "DRAM_Row_Hammer_Test/dependencies/liteiclink"]
	path = DRAM_Row_Hammer_Test/dependencies/liteiclink
	url = https://github.com/enjoy-digital/liteiclink
[submodule "DRAM_Row_Hammer_Test/dependencies/litepcie"]
	path = DRAM_Row_Hammer_Test/dependencies/litepcie
	url = https://github.com/enjoy-digital/litepcie
[submodule "DRAM_Row_Hammer_Test/dependencies/litescope"]
	path = DRAM_Row_Hammer_Test/dependencies/litescope
	url = https://github.com/enjoy-digital/litescope
[submodule "DRAM_Row_Hammer_Test/dependencies/migen"]
	path = DRAM_Row_Hammer_Test/dependencies/migen
	url = https://github.com/m-labs/migen
[submodule "DRAM_Row_Hammer_Test/dependencies/litex-boards"]
	path = DRAM_Row_Hammer_Test/dependencies/litex-boards
	url = https://github.com/litex-hub/litex-boards
[submodule "DRAM_Row_Hammer_Test/dependencies/pythondata-cpu-vexriscv_smp"]
	path = DRAM_Row_Hammer_Test/dependencies/pythondata-cpu-vexriscv_smp
	url = https://github.com/litex-hub/pythondata-cpu-vexriscv_smp
[submodule "DRAM_Row_Hammer_Test/dependencies/pythondata-software-picolibc"]
	path = DRAM_Row_Hammer_Test/dependencies/pythondata-software-picolibc
	url = https://github.com/litex-hub/pythondata-software-picolibc
[submodule "DRAM_Row_Hammer_Test/dependencies/pythondata-cpu-vexriscv"]
	path = DRAM_Row_Hammer_Test/dependencies/pythondata-cpu-vexriscv
	url = https://github.com/litex-hub/pythondata-cpu-vexriscv.git
