wheel
dependencies/migen
-e dependencies/pythondata-software-picolibc
-e dependencies/pythondata-software-compiler_rt
-e dependencies/litex
-e dependencies/liteeth
-e dependencies/litedram
-e dependencies/litesdcard
-e dependencies/liteiclink
-e dependencies/litescope
-e dependencies/litejesd204b
-e dependencies/litex-boards
-e dependencies/pythondata-misc-tapcfg
-e dependencies/pythondata-misc-usb_ohci
-e dependencies/pythondata-cpu-lm32
-e dependencies/pythondata-cpu-mor1kx
-e dependencies/pythondata-cpu-naxriscv
-e dependencies/pythondata-cpu-serv
-e dependencies/pythondata-cpu-vexriscv
-e dependencies/pythondata-cpu-vexriscv_smp
meson
ninja